@import "tailwindcss";

html,
body,
* {
  @apply p-0 m-0;
}

html,
body,
#app {
  @apply w-full h-full;
}

.form-container {
  @apply flex flex-col justify-center items-center w-full h-full bg-black;
}
