@import "tailwindcss";

:root {
  --container-bg: black;
  --text-color: white;
}

html,
body,
* {
  @apply p-0 m-0;
}

html,
body,
#app {
  @apply w-full h-full;
}

.camera-container {
  @apply flex flex-col justify-center items-center;
  @apply w-full h-full;
  @apply bg-(--container-bg) text-(--text-color);
}

.camera-container__camera {
  @apply rounded-lg;
}