blinker==1.9.0
click==8.3.1
daal==2025.9.0
dotenv==0.9.9
Flask==3.1.2
flask-cors==6.0.1
ImageIO==2.37.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
lazy_loader==0.4
MarkupSafe==3.0.3
networkx==3.6
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
python-dotenv==1.2.1
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-learn-intelex==2025.9.0
scipy==1.16.3
tbb==2022.3.0
tcmlib==1.4.1
threadpoolctl==3.6.0
tifffile==2025.10.16
tqdm==4.67.1
Werkzeug==3.1.4
